HOST_UID=1000
HOST_GID=1000

APP_SERVER_NAME=monya52
APP_XDEBUG=true
APP_VITE_DEV=true
APP_NGINX_HTTP=80
APP_NGINX_HTTPS=8433

WHISPER_MODEL=small

STORAGE_PREFIX=.
STORAGE_APP=./..
STORAGE_SQLITE="${STORAGE_APP}/database/"
STORAGE_NGINX="${STORAGE_PREFIX}/nginx/storage"
STORAGE_FPM="${STORAGE_PREFIX}/fpm/storage"
